.form__button-nav {
    position: absolute;
    right: 20px;
}

.form__button-logout {
    padding: 10px;
    width: 75px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #ddd;
    color: #8b7964;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.admin__content {
    margin: 0 auto;
    max-width: 1000px;
    color: #897053;
}

.admin__heading {
    font-family: "Epunda Slab", serif;
    text-align: center;
}

/* 検索フォームのスタイル */
.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.search-form__group {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.search-form__input,
.search-form__select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #a0a0a0;
    font-size: 14px;
    flex-shrink: 0;
}

.search-form__input[name="keyword"] {
    width: 350px;
}

.search-form__input[name="gender"] {
    width: 50px;
}

.search-form__input[name="date"] {
    width: 130px;
}

.search-form__select {
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 25px;
    background-color: #f8f8f8;
    position: relative;
}

.search-form__select[name="category"] {
    flex-shrink: 0;
    width: 180px;
}

.search-form__select::-ms-expand {
    display: none;
}

.search-form__select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a0a0a0;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-form__input::placeholder {
    color: #a0a0a0;
}

.search-form__button-group {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    flex-shrink: 0;
}

.search-form__button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.search-form__button--search {
    background-color: #8b7964;
    width: 70px;
}

.search-form__button--reset {
    background-color: #c1b399;
    text-decoration: none;
}

/* エクスポートボタンとページネーションのスタイル */
.bottom-controls {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.export-button {
    padding: 8px 20px;
    border: 1px solid #c1b399;
    background-color: #f8f8f8;
    color: #8b7964;
    border-radius: 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination nav>div:first-child {
    display: none;
}

.pagination .relative.inline-flex.items-center.px-4.py-2.text-sm.font-medium.text-gray-700.bg-white.border.border-gray-300.cursor-default.leading-5 {
    display: none;
}

.pagination nav>div:last-child {
    display: flex;
    gap: 5px;
    align-items: center;
}

.pagination nav>div:last-child>div {
    display: flex;
    gap: 5px;
}

.pagination .flex a,
.pagination .flex span {
    text-decoration: none;
    color: #5c5c5c;
    padding: 5px 5px;
    border-radius: 5px;
}

.pagination .flex a:hover {
    background-color: #f0f0f0;
}

/* 現在のページ番号のスタイル */
.pagination span[aria-current="page"] {
    background-color: #c7beb4;
    color: #fff;
}

.pagination .flex svg {
    width: 15px;
    height: 15px;
}

/* フォームのスタイル */
.form {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
}

/* テーブルのスタイル */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    color: #897053;
}

.admin-table {
    width: 100%;
}

.admin-table__inner {
    width: 100%;
    border-collapse: collapse;
    max-width: 1000px;
    margin: 0 auto;
}

.admin-table__row {
    border-bottom: 1px solid #ddd;
}

.admin-table__row:first-child {
    background-color: #8b7964;
    color: #fff;
}

.admin-table__header,
.admin-table__text {
    padding: 5px;
    text-align: left;
    border: none;
}

.admin-table__text {
    background-color: #fff;
}

.admin-table__row:hover .admin-table__text {
    background-color: #e0e0e0;
}

/* 詳細ボタンのスタイル */
.admin-table__detail-button {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #a0a0a0;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* 詳細ボタンをtdの中央に配置 */
.admin-table__text:last-child {
    text-align: center;
}

/* モーダルウィンドウのスタイル */
.modal {
    /* <dialog>のデフォルトスタイルを調整 */
    border: none;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
}

.modal::backdrop {
    /* 背景を半透明にする */
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-close-button {
    /* クラス名を変更 */
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
    border: none;
    background: none;
}

.modal-item {
    display: flex;
    margin-bottom: 20px;
}

.modal-item label {
    vertical-align: top;
    width: 150px;
    font-weight: bold;
    color: #8b7964;
    font-size: 14px;
    white-space: nowrap;
}

.modal-item p {
    margin: 0;
    font-size: 14px;
    width: 300px;
}

.modal-buttons {
    text-align: center;
    margin-top: 30px;
}

.modal-buttons .delete-button {
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    background-color: #d74355;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}