.contact-form__content {
    margin: 0 auto;
    max-width: 1230px;
    color: #897053;
}

.contact-form__heading {
    font-family: "Epunda Slab", serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    background-color: #fff;
    color: #897053;
}

/* フォームのグループ（タイトルと入力欄を横並びにする） */
.form__group {
    display: flex;
    align-items: flex-start;
    color: #897053;
    margin-bottom: 30px;
}

.form__group-title {
    color: #897053;
    width: 200px;
    display: flex;
    font-size: 15px;
    flex-shrink: 0;
}

.form__group-content {
    color: #897053;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
}

.form__label--item {
    display: flex;
    flex-direction: column;
    vertical-align: top;
}


.form__label--required {
    color: #ff0000;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 20px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

/* お名前と電話番号の入力フォームの背景色 */
.form__input--last_name input,
.form__input--first_name input,
.form__input--tel input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 3px;
    box-sizing: border-box;
}

/* 各入力欄のスタイル */
.form__input--text input,
.form__input--textarea textarea,
.form__input--select select {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 3px;
    appearance: none;
}

.form__input--text input,
.form__input--textarea textarea {
    height: 40px;
}

.form__input--textarea textarea {
    height: 100px;
}

.form__input--select {
    position: relative;
    color: #897053;
}

/* 選択肢がまだ選択されていない状態のスタイル */
select:not(:focus):invalid {
    color: #aaa;
}

/* 有効な選択肢が選択された後のスタイル */
select:valid {
    color: #000;
}

.form__input--select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 8px;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    pointer-events: none;
}

/* お名前と電話番号の横並び */
.form__input--text-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form__input--text-split .form__input--last_name,
.form__input--text-split .form__input--first_name {
    flex: 1;
    flex-shrink: 0;
}

.form__input--text-split .form__input--tel {
    flex: 1;
}

.form__input--text-split span {
    margin: 0 5px;
}

/* 性別のラジオボタン */
.form__input--radio {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    color: #897053;
}

.form__input--radio input[type="radio"] {
    display: none;
}

.form__input--radio label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    line-height: 20px;
    color: #897053;
}

.form__input--radio label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
}

.form__input--radio input[type="radio"]:checked+label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: #8b7964;
    border-radius: 50%;
}

.form__button {
    margin-top: 10px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #8b7964;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}